.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  border-radius: 10px;
  left: 38%;
  right: 38%;
  top: 40%;
  bottom: 33%;
  margin: auto;
  color: rgb(255, 255, 255);
  background: rgb(51, 205, 187);
  min-height: 198px;
}

.popupCloseButton {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  color: black;
  top: 3px;
  right: 5px;
  font-size: 14px;
  line-height: 12px;
  width: 15px;
  height: 15px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: rgb(241, 12, 12);
  color: #fff;
}

h1 {
  margin-bottom: 0%;
}

img {
  width: 160px;
  height: 110px;
}

.red {
  color: red;
}
